@import 'common';
@import 'normalize';

html,
body {
  @include set-size;
  $color: #fff;
  color: $color;
  font-family: 'Microsoft YaHei';
  margin: 0;
  padding: 0;
}

.black {
  background: $black;
  color: $white;
}

.red {
  background: $red;
  color: $white;
}

.green {
  background: $green;
  color: $white;
}

.blue {
  background: $blue;
  color: $white;
}

:global(#app) {
  @include set-size;
}

.root {
  @include set-size;
  display: flex;
  flex-direction: row;
  // composes: red;
}

:global(.side) {
  flex: .6;
  overflow: hidden;
  position: relative;
  // composes: green;
}

.main {
  composes: blue;
  flex: 2.4;
}
